{% extends "base.html" %}
{% block content %}
<div class="new">
  <h2> Create a new idea. </h2>
  <form method="post" action="/create/">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="slug">Slug</label>
  <input type="text" name="slug" id="slug">
  <input id="create" type="submit" value="create idea">
  </form>
</div>
<div class="list">
  <h2> Ideas </h2>
  <ol id="ideas">
    {% for object in object_list %}
    <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
    {% endfor %}
  </ol>
</div>

<script>
$.ajaxSetup({ 
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     break;
                 }
             }
         }
         return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     } 
});



var create_idea = function() {
  var title = $("#title").val()
  var slug = $("#slug").val()
  if (title != "" && slug != "") {
    var data = { title:title, slug:slug };
    var args = { type:"POST", url:"/create/", data:data, complete:done };
    $.ajax(args);
  }
  else {
    // display an explanation of failure
  }
  return false;
};

var done = function(res, status) {
  if (status == "success") {
    var txt = res.responseText;
    var titleStr = txt.match(/id="title" value="\w+"/ig)[0];
    var slugStr = txt.match(/id="slug" value="\w+"/ig)[0];
    var title = titleStr.match(/"\w+"/ig)[1].replace(/"/g,'');
    var slug = slugStr.match(/"\w+"/ig)[1].replace(/"/g,'');
    var newLi = $('<li><a href="/idea/'+slug+'">'+title+'</a></li>');
    $("#ideas").prepend(newLi);
    $("#title").val("");
    $("#slug").val("");
  }
  else {
    // display an explanation of failure
  }
}

$("#create").click(create_idea);
</script>

{% endblock %}