{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<style type="text/css">
			body, html {
				font-family:helvetica,arial,sans-serif;
				font-size:90%;
				color:#1c94c4
			}
		</style>

	

		<script>
			$( function() {
				$( "button, input:submit, a", ".submitdiv" ).button();
				$( "a", ".submitdev" ).click( function() {
					return false;
				});
			});
			</script>
			
			
		<script>
			$( function() {
				$( "#tabss" ).tabs({
					ajaxOptions: {
						error: function( xhr, status, index, anchor ) {
							$( anchor.hash ).html(
							"Loading...");
						}
					}
				});
			});
		</script>
	</head>

	<body>
		
		
		<div class="tabsclasss">
			<div id="tabss">
				<ul>
					<li>
						<a href="/manageideas">Ideas</a>
					</li>
					<li>
						<a href="/managestats">Stats</a>
					</li>
					<li>
						<a href="/managebulk">Bulk Edit</a>
					</li>
					<li>
						<a href="/managescores">Manage Scores</a>
					</li>
				</ul>
			</div>
		</div>
		

		
	</body>
</html>

{% endblock %}