{% extends "base.html" %}
{% block content %}
<html>
<head>
</head>

<body>  

<h3>My Stats</h3>

	{%if person%}
	<table>
		
		<tr>
			<td>Name</td>
			<td>{{person.name}}</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>{{person.email}}</td>
		</tr>
		<tr>
			<td>Rating</td>
			<td>{{person.currentRating}} - {{rating.name}} <img src="{{rating.image}}" width="30px" height="30px"/></td>
		</tr>
		<tr>
			<td>Comments</td>
			<td>{{person.timesCommented}}</td>
		</tr>
		<tr>
			<td>Times Voted</td>
			<td>{{person.timesVoted}}</td>
		</tr>
		<tr>
			<td>Idea Views</td>
			<td>{{person.timesViewed}}</td>
		</tr>
		<tr>
			<td>Ideas Submitted</td>
			<td>{{person.timesIdea}}</td>
		</tr>
		<tr>
			<td>Articles Submitted</td>
			<td>{{person.timesArticle}}</td>
		</tr>
		<!-- <tr>
			<td>Times Reported</td>
			<td>{{person.timesReported}}</td>
		</tr> -->
		<tr>
			<td>Reports Made</td>
			<td>{{person.timesReport}}</td>
		</tr>
		<tr>
			<td>Ideas Promoted</td>
			<td>{{person.timesPromoted}}</td>
		</tr>
		<tr>
			<td>Ideas Implemented</td>
			<td>{{person.timesImplemented}}</td>
		</tr>
	</table>
	
	
	
	{%endif%}
</body>
</html>

{% endblock %}