{% extends "base.html" %}
{% block content %}
<html>
	<head>
		<link rel="stylesheet" href="/media/tag.css">
		<script src="/media/tagcanvas.min.js" type="text/javascript"></script>
		<style type="text/css">
			body, html {
				font-family:helvetica,arial,sans-serif;
				font-size:90%;
				color:#1c94c4
			}
		</style>
		<script>
			$( function() {
				$( "button, input:submit, a", ".submitdiv" ).button();
				$( "a", ".submitdev" ).click( function() {
					return false;
				});
			});
		</script>
		<script>
			$( function() {
				$( "#tabsu" ).tabs();
				$( ".tabs-bottom .ui-tabs-nav, .tabs-bottom .ui-tabs-nav > *" )
				.removeClass( "ui-corner-all ui-corner-top" )
				.addClass( "ui-corner-bottom" );
			});
		</script>
		<style>
			#tabsu {
				height: 200px;
				width:400px
			}
			.tabs-bottom {
				position: relative;
			}
			.tabs-bottom .ui-tabs-panel {
				height: 200px;
				overflow: auto;
				width:400px
			}
			.tabs-bottom .ui-tabs-nav {
				position: absolute !important;
				left: 0;
				bottom: 0;
				right:0;
				padding: 0 0.2em 0.2em 0;
			}
			.tabs-bottom .ui-tabs-nav li {
				margin-top: -2px !important;
				margin-bottom: 1px !important;
				border-top: none;
				border-bottom-width: 1px;
			}
			.ui-tabs-selected {
				margin-top: -3px !important;
			}
		</style>
		<script>
			$( function() {
				$( "#accordion" ).accordion({
				});
			});
		</script>
		<script>
			$('myForm').addEvent('submit', function(e) {
				new Event(e).stop();
				var log = $('log_res').empty().addClass('ajax-loading');
				this.send({
					update: log,
					onComplete: function() {
						log.removeClass('ajax-loading');
					}
				});
			});
		</script>
		<script type="text/javascript">
			//<![CDATA[
			$(document).ready( function() {
				TagCanvas.interval = 40;
				TagCanvas.textFont = 'Impact,Arial Black,sans-serif';
				TagCanvas.textColour = '#00f';
				TagCanvas.textHeight = 25;
				TagCanvas.outlineColour = '#60f';
				TagCanvas.outlineThickness = 3;
				TagCanvas.maxSpeed = 0.10;
				TagCanvas.minBrightness = 0.1;
				TagCanvas.depth = 0.92;
				TagCanvas.pulsateTo = 0.2;
				TagCanvas.pulsateTime = 0.5;
				TagCanvas.initial = [0.1,-0.1];
				TagCanvas.decel = 1.00;
				TagCanvas.reverse = true;
				TagCanvas.hideTags = false;
				TagCanvas.shadow = '#ccf';
				TagCanvas.shadowBlur = 3;
				TagCanvas.weight = true;
				TagCanvas.weightSize = 1.0;
				TagCanvas.weightFrom = 'data-weight';
				TagCanvas.weightMode = 'colour';
				try {
					TagCanvas.Start('myCanvas');
				} catch(e) {
				}
				var i, g, gc = document.getElementById('gradient').getContext('2d');
				g = gc.createLinearGradient(0, 0, 0, gc.canvas.height);
				for(i in TagCanvas.weightGradient)
					g.addColorStop(i, TagCanvas.weightGradient[i]);
				gc.fillStyle = g;
				gc.fillRect(0,0,gc.canvas.width,gc.canvas.height);
			});
			var g1 = {
				0:   'red',
				0.5: 'orange',
				1:   'rgba(0,0,0,0.1)'
			};
			//]]>
		</script>
	</head>

	<body>
		{%if ideas%}
		<canvas title="Tag Cloud: click a tag to filter by tag" width="800" height="200" id="myCanvas">
			Browser does not support html5 canvas, time for a new browser!
			{%for tag in tags%}
			<li>
				<a href="/tag/{{tag.tag}}/"  data-weight="{{tag.val}}">{{tag.tag}}</a>
			</li>
			{%endfor%}
		</canvas>
		{%endif%}

		<!-- <h3 class="ui-widget-header ui-corner-all"> -->
		<h3>
		Top Existing Ideas {%if filtertag%}(tag:{{filtertag}})
		<a href="/">clear tag</a>{%endif%}
		</h3>
		{%if ideas%}

		{% for idea in ideas %}
		<table cellpadding="1" width="100%">
			<tr>
				<td width=80%>
				<a href="/idea/{{idea.id}}">
				<ideatitle title="{{idea.content}}">
					{{idea.title}}
				</ideatitle>
				</a>
				<a href="/idea/{{idea.id}}">
				<view>
					View&#8594;
				</view>
				</a>
				<br/>
				<normal>
					By	{% if idea.author %}
					{{ idea.author }}
					{% else %}Anonymous
					{% endif %}, {{idea.date}}
				</normal>
				<a href="/report/{{idea.id}}">
				<report title="Report idea if you feel content is inappropriate">
					report
				</report>
				</a>
				<br/>
				{%for tag in idea.tags%}
				<a href="/tag/{{tag}}/">
				<tagsurround title="Click on tag to filter by this 'category'">{{tag}}</tagsurround>
				</a> &nbsp;
				{%endfor%}
				</td>
				<td align="center">
				<center><votecount title="Total number of times this idea has been viewed">{{idea.viewcount}}</votecount><br/><br/><labels>Views</labels>
				</center>
				</td>
				<td align="center">
				<center>
					<votecount title="Total number of votes for this idea">{{idea.votecount}}</votecount><br/><br/><labels>Votes</labels>
				</center>
				</td>
				<!-- <td>
				{%if idea.hasstar%}
				<img src="/media/images/star.png"/>
				{%else%}
				<form action="/dostar/" method="post">
				<div class="submitdiv">
				<input type="hidden" name="id" value={{idea.id}}>
				<input type="image" src="/media/images/empty_star.png" onmouseover="this.src='/media/images/star.png'" onmouseout="this.src='/media/images/empty_star.png'"  ALT="Submit Form"/>
				</div>
				</form>
				{%endif%}
				</td> -->
			</tr>
		</table>

		<br/>
		{%if user.is_staff%}
		<form action="/promote/" method="post">
			<div class="submitdiv">
				<input type="hidden" name="id" value="{{idea.id}}">
				<input type="submit" value="Promote"/>
			</div>
			</form>
			{%endif%}
			<hr/>

			{% endfor %}

			{%else%}
			No Ideas Submitted
			<hr/>
			{%endif%}

			<h3>Submit New Idea</h3>
			{%if user.is_authenticated%}
			<form id="myForm" action="/submitidea/" method="post">
				<div id="form_box">
					<div>
						<ideahead>
							Title:
						</ideahead>
						<br/>
						<input type="text" name="title" size="50%" placeholder="New idea"/>
					</div>
					<div>
						<ideahead>
							Idea:
						</ideahead>
						<br/>
						<textarea type="text" rows="5" cols="50%" name="content" placeholder="Sample idea text"/>
					</div>
					<div>
						<ideahead>
							Tags:
						</ideahead>
						<br/>
						<input type="text" name="tags" size="50%" placeholder="marketing,sales,mobile"/>
						</br>
						<font size="1">
							Tag idea with comma separated list (e.g. mobile,finance,marketing)
						</font>
					</div>
					<input type="submit" name="button" id="submitter" value="Submit Idea"/>
					<span class="clr">
						<!-- spanner -->
					</span>
				</div>
			</form>
			{%else%}
			To submit ideas, you must
			<a href="/accounts/login/?next=/">
			<u>
				login
			</u>
			</a> or if you are a new user

			<a href="/accounts/register/">
			<u>
				register
			</u>
			</a>.

			{%endif%}
	</body>
</html>

{% endblock %}