body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

h1{
font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
color:#1c94c4;
background-color: #DDDDDD;
}

ideahead{
font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
color:#1c94c4;
font-weight:bold;

}

votecount{
font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
color:#1c94c4;
font-weight:bold;
background-color: white;
padding: 10;
border: 1px solid black;
}

.speech-bubble
  {
   width: 400px;
   padding: 5px;
   background: white;
   color: black;
   font: normal 12px "Segoe UI", Arial, Sans-serif;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
  }
  .speech-bubble:after
  {
   content: "";
   border: solid 5px transparent; /* set all borders to 10 pixels width */
   border-top-color: white; /* the callout */
   border-bottom: 0; /* we do not need the bottom border in this case */
   width: 0;
   height: 0;
   overflow: hidden;
   display: block;
   position: relative;
   bottom: -10px; /* border-width of the :after element + padding of the root element */
   margin: auto;
  }
  
  .triangle-isosceles {
  width: 50%;
   position:relative;
   padding:15px;
   margin:1em 0 3em;
   color:#000;
   background:white;

   /* css3 */
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   background:-moz-linear-gradient(top, #f9d835, #f3961c);
   background:linear-gradient(top, #f9d835, #f3961c);
}

/* creates triangle */
.triangle-isosceles:after {
   content:"";
   display:block; /* reduce the damage in FF3.0 */
   position:absolute;
   bottom:-15px;
   left:50px;
   width:0;
   border-width:15px 15px 0;
   border-style:solid;
   border-color:white transparent;
}