{% extends "base.html" %}

{% block content %}

    <h1>innUvation Login</h1>
    <p>Remember, your email address is not your username</p>

    <div>

    <form action='.' method='POST'>{% csrf_token %}

        {{ form.non_field_errors }}
	<table>
        {% for field in form %}
	
            <div>

            {% if field.errors %} {{ field.errors }} {% endif %}
            <tr>
				<td>{{field.label }}</td>
				<td>{{ field }}</td>
			</tr>

                  

            </div>

        {% endfor %}
</table>
        <input type="submit" value="Submit">

    </form>

    </div>

{% endblock %}
