<html>
<head>
<title>{% block title %}innUvate{% endblock %}</title>

<link rel="stylesheet" href="/media/style.css">
<link rel="stylesheet" href="/media/main.css">

<!--<link type="text/css" href="/media/css/cupertino/jquery-ui-1.8.13.custom.css" rel="Stylesheet" />	-->
<!-- <link type="text/css" href="/media/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" /> -->	
<link type="text/css" href="/media/css/smoothness/jquery-ui-1.8.14.custom.css" rel="Stylesheet" />

<script type="text/javascript" src="/media/js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-1.8.13.custom.min.js"></script>

<script type="text/javascript" src="/media/js/jquery.rating.js"></script>
<script type="text/javascript" src="/media/js/jquery.rating.pack.js"></script>
<link type="text/css" href="/media/js/jquery.rating.css" rel="Stylesheet" />

</head>
<body>

<div class="container">
{% block content %}

{% endblock %}
</div>
</body>
</html>